*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded;
}

.timerp {
    padding-top: 50px;
    font-size: 45px;
    font-family: Gotham Rounded;
    color:#8a28cc;
}

body {
padding: 0;
margin: 0;
background-color: #e0f0ff;
}


.header {
font-size: 60px;
text-align: center;
padding-top: 50px;
font-family: Gotham Rounded;
}

.card {
    display: block;
    background-color: white;
    border: 3px solid black;
    border-radius: 6px;
    box-shadow: 0 0 10px 2px;
    margin: 60px auto;
    width: 51vw;
    padding: 50px;
    text-align: center;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(1,auto);
    width: 900px;
    gap: 20px;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.btn {
    border: 1px solid #a3d2e7;
    box-shadow: 0 0 5px 1px;
    border-radius: 6px;
    padding: 5px 10px;
    background-color: #a3d2e7;

   
}

.btn:hover {
    border-color: black
}

.question-grid {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding-bottom: 15px;
    font-weight: bold;  
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.hide {
    display: none;
}

.initial {
   padding-top: 200px;
   justify-content: center;
   padding-left: 1000px;
   

}